{% extends "base_generic.html" %}

{% block content %}

<h1>계좌이체</h1>

<form id="account_form">
    {% csrf_token %}
    <div class="form-group row">
        <label for="sender_account" class="col-sm-2 col-form-label">내계좌</label>
        <div class="col-sm-10">
            <select id="sender_account" class="form-control">
                <option value="">선택</option>
                {% for account in account_list %}
                <option value="{{account.account_id}}">
                    {{ account.account_id }} 
                </option>
                    {% endfor %}
            </select>
            <div class="invalid-feedback">
                필수 항목입니다
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="receiver_account" class="col-sm-2 col-form-label">받는계좌</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control" id="receiver_account" placeholder="받으시는분의 계좌번호를 입력하세요">
                <button type="button" class="btn btn-outline-dark input-group-prepend" onclick="transfer.validateAccount()">계좌확인</button>
                <div class="invalid-feedback">
                    필수 항목입니다
                </div>
            </div>
            <div class="receiver-account-info"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="sended_label" class="col-sm-2 col-form-label">보낼때 표기</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sended_label" value="{{sended_label}}" placeholder="나에게 보여지는 내용입니다">
        </div>
    </div>
    <div class="form-group row">
        <label for="received_label" class="col-sm-2 col-form-label">받을때 표기</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="received_label" placeholder="수신자에게 보여지는 내용입니다">
        </div>
    </div>
    <div class="form-group row">
        <label for="remittance" class="col-sm-2 col-form-label">송금액</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="remittance" placeholder="보낼 금액을 입력하세요">
        </div>
    </div>
    <button type="submit" class="btn btn-warning btn-sm">이체하기</button>
</form>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="transfer.makeData()">이체하기</button> -->
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">이체정보</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">내 계좌</label>
                <div class="col-sm-10" id="view_sender_account"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">받는 계좌</label>
                <div class="col-sm-10" id="view_receiver_account"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">보내는 표시</label>
                <div class="col-sm-10" id="view_sended_label"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">받는 표시</label>
                <div class="col-sm-10" id="view_received_label"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">송금액</label>
                <div class="col-sm-10" id="view_remittance"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-2">수수료</label>
                <div class="col-sm-10" id="view_fee"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" onclick="transfer.save();">이체하기</button>
        </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/transfer.js' %}"></script>

{% endblock %}